<div>
  <mat-form-field>
    <mat-label>Filter By</mat-label>
    <input [formControl]="Filterby"
      matInput
      type="text"
      placeholder="Type something to search"

    />
    <mat-error *ngIf="Filterby.hasError('pattern')">
        Only <strong>authors , category ,language </strong> Allowed
      </mat-error>



  </mat-form-field>

<button mat-icon-button color="primary" (click)="ADZfilterBooks()"> Filter</button>

<mat-form-field>
    <mat-select [(value)]="filterbyThis"  >
        <mat-option *ngFor="let filter of filters " value={{filter}} (click)="ADZUpdateBooks()">{{filter}}</mat-option>
      </mat-select>
</mat-form-field>

<button mat-icon-button color="primary" (click)="ADZClearFilter()"> Clear Filters</button>

</div>
